h1 {font-weight: bold;
    text-align: center;
}

#actor {text-align: center;
        font-weight: lighter;
}

h2 {font-weight: lighter;
}

p {font-weight: light;}

* {font-family: 'Roboto', sans-serif;
}

h4 {font-weight: lighter;
}

#col1 {color: white;
       width: 20%;
       padding: 5%;
       background-color:maroon;
}

#col2 {background-color: lightgray;
       padding: 5%;
       padding-bottom: 14%;
}

.columna { float: left;
          width: 40%;
}
  
  
.row:after {
    content: "";
    display: table;
    clear: both;
}


  i {margin-right: 2%;
     margin-bottom: 3%;
  }